<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="95ac7d31-b177-41aeasdfafdsasdf" />
    <add key="ClientSecret" value="czf6GuGTceKmEuVkeeOL97S3RqgnqI0OpCH/zeiAjcM=" />
    <add key="tenant" value="folkuniversitetetsp2016.onmicrosoft.com" />
    <add key="SecretUri" value="https://hailiankeyvault.vault.azure.net/secrets/SYCVaultKey/87adfadfadff" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>